{% extends "blog/base.html" %}
{% block content %}
    <title>Saku</title>
    {% for eachPost in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{eachPost.author}}</a>
                <small class="text-muted">{{ eachPost.date_posted|date:"F d, Y" }}</small>
              </div>
              <h2><a class="article-title" href="#">{{ eachPost.title }}</a></h2>
              <p class="article-content">{{ eachPost.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
